
@font-face {
  font-family: 'tommyblack';
  src: url('/src/fonts/Webfonts/MADETOMMYBlack/made_tommy_black-webfont.woff') format('woff2'),
       url('/src/fonts/Webfonts/MADETOMMYBlack/made_tommy_black-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'tommyblackoutline';
  src: url('/src/fonts/Webfonts/TOMMYBlackOutline/made_tommy_black_outline-webfont.woff') format('woff2'),
       url('/src/fonts/Webfonts/TOMMYBlackOutline/made_tommy_black_outline-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'tommylight';
  src: url('/src/fonts/Webfonts/TOMMYLight/made_tommy_light-webfont.woff') format('woff2'),
       url('/src/fonts/Webfonts/TOMMYLight/made_tommy_light-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'tommylightoutline';
  src: url('/src/fonts/Webfonts/TOMMYLightOutline/made_tommy_light_outline-webfont.woff') format('woff2'),
       url('/src/fonts/Webfonts/TOMMYLightOutline/made_tommy_light_outline-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'tommyregular';
  src: url('/src/fonts/Webfonts/TOMMYRegular/made_tommy_regular-webfont.woff') format('woff2'),
       url('/src/fonts/Webfonts/TOMMYRegular/made_tommy_regular-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'tommyregularoutline';
  src: url('/src/fonts/Webfonts/TOMMYRegularOutline/made_tommy_regular_outline-webfont.woff') format('woff2'),
       url('/src/fonts/Webfonts/TOMMYRegularOutline/made_tommy_regular_outline-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'tommythin';
  src: url('/src/fonts/Webfonts/TOMMYThin/made_tommy_thin-webfont.woff') format('woff2'),
       url('/src/fonts/Webfonts/TOMMYThin/made_tommy_thin-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;

}